@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

:root {
  --cyan: hsl(179, 62%, 43%);
  --bright-yellow: hsl(71, 73%, 54%);
  --light-gray: hsl(204, 43%, 93%);
  --grayish-blue: hsl(218, 22%, 67%);
  --off-cyan: hsla(179, 62%, 43%, 0.699);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  background-color: var(--light-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  margin: 5px;
}

main {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-top: 100px;
  border-radius: 10px;
  max-width: 650px;
}

header {
  padding: 45px 40px;
}

.title {
  color: var(--cyan);
  font-size: 1.6rem;
  margin-bottom: 20px;
}

.guarantee {
  font-size: 1.2rem;
  color: var(--bright-yellow);
  margin-bottom: 10px;
}

.desc {
  font-size: 1.05rem;
  color: var(--grayish-blue);
  line-height: 1.6;
}

info {
  display: flex;
  color: white;
}

.subscription {
  background-color: var(--cyan);
  width: 50%;
  padding: 43px;
  border-radius: 0 0 0 10px;
}

.subscription h3 {
  font-size: 1.2rem;
  margin-bottom: 25px;
}

.price {
  font-size: 1.9rem;
  font-weight: 700;
}

.off-white {
  opacity: 0.6;
}

.full-access {
  margin-top: 10px;
  margin-bottom: 32px;
}

.btn {
  width: 100%;
  height: 55px;
  color: white;
  font-size: 1rem;
  background-color: var(--bright-yellow);
  border: none;
  border-radius: 10px;
  box-shadow: 0.1rem 0.1rem 0.9rem 0.2rem rgba(92, 90, 90, 0.25);
}

.btn:hover {
  background: var(--light-gray);
  color: var(--cyan);
}

.why-us {
  background-color: var(--off-cyan);
  padding: 20px;
  width: 50%;
  padding: 43px;
  border-radius: 0 0 10px 0;
}

.why-us h3 {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.why-us p {
  opacity: 0.7;
  margin-bottom: 4px;
}

@media screen and (max-width: 660px) {
  body {
    max-width: 700px;
    margin: 25px;
  }

  info {
    flex-direction: column;
  }

  .subscription {
    width: 100%;
    border-radius: 0;
  }

  .why-us {
    width: 100%;
    border-radius: 0 0 10px 10px;
  }
}
